services:
radarr:
  image: lscr.io/linuxserver/radarr:latest
  container_name: radarr
  restart: unless-stopped
  environment:
    - PUID=${RADARR_UID:-1000}
    - PGID=${RADARR_GID:-1000}
    - TZ=UTC
  volumes:
    - ${RADARR_CONFIG_DIR:-../../data/radarr/config}:/config
    - ${RADARR_MOVIES_DIR:-../../data/radarr/movies}:/movies
    - ../../data/transmission/downloads:/downloads
  ports:
    - "7878:7878"
  networks:
    - homelab


networks:
  homelab:
    external: true
    name: homelab
