services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    environment:
      - PUID=${SONARR_UID:-1000}
      - PGID=${SONARR_GID:-1000}
      - TZ=UTC
    volumes:
      - ${SONARR_CONFIG_DIR:-../../data/sonarr/config}:/config
      - ${SONARR_TV_DIR:-../../data/sonarr/tv}:/tv
      - ../../data/transmission/downloads:/downloads
    ports:
      - "8989:8989"
    networks:
      - homelab
  
  
networks:
  homelab:
    external: true
    name: homelab
