services:
loki:
  image: grafana/loki:latest
  container_name: loki
  restart: unless-stopped
  command: -config.file=/etc/loki/local-config.yaml
  volumes:
    - ../../config/loki:/etc/loki
    - ../../data/loki:/loki
  ports:
    - "3100:3100"
  networks:
    - homelab


networks:
  homelab:
    external: true
    name: homelab
