services:
pihole:
  image: pihole/pihole:latest
  container_name: pihole
  restart: unless-stopped
  environment:
    - TZ=${PIHOLE_TZ:-UTC}
    - WEBPASSWORD=${PIHOLE_WEBPASSWORD}
    - PIHOLE_DNS_=${PIHOLE_DNS1:-8.8.8.8};${PIHOLE_DNS2:-8.8.4.4}
  volumes:
    - ../../data/pihole/etc:/etc/pihole
    - ../../data/pihole/dnsmasq:/etc/dnsmasq.d
  ports:
    - "53:53/tcp"
    - "53:53/udp"
    - "8053:80/tcp"
  networks:
    - homelab


networks:
  homelab:
    external: true
    name: homelab
